header{
    height: 10vh;
    width: 97vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content{
    border: 2px solid green;
    display: flex;
    flex-direction: column;
    gap: 8px;
    height: 97vh;
}

.section{
    flex: 1;
    border: 2px solid black;
}